<div class="container">
    <div class="card-login">
        <div class="card-header">
            <h2>New Post</h2>
        </div>
        <form id="frmNewPost">
            <div class="card-text">
                <div class="inputData">
                    <label for="title">Title:</label>
                    <input type="text" id="title" class="textBox" required />
                </div>

                <div class="inputData">
                    <label for="">Content:</label>
                    <textarea cols="0" rows="10" id="content" class="textBox" required></textarea>
                </div>

                <div class="left">
                    <button type="submit" class="btn" id="btnPublish"> Publish </button>
                </div>
            </div>            
        </form>
    </div>

</div>

<script src="/js/newPost.js"></script>