<form class="frm" id="frmSignup">
  <div class="card-login">

    <div class="card-header">
      <h2>Sign Up</h2>
    </div>

    <div class="card-text">

      <div class="inputData">
        <label for="username-login">User Name:</label>
        <input type="text" id="username-signup" class="textBox" />
      </div>

      <div class="inputData">
        <label for="password-login">Password:</label>
        <input type="password" id="password-signup" class="textBox" />
      </div>

      <div>
        <button type="submit" class="btn">Sign Up</button>
      </div> 

      <div class="left">
        <a href="/login" class="a-text"> or Log In! </a>   
      </div>     

    </div>

  </div>
</form>

<script src="/js/signup.js"></script>