* {
    box-sizing:border-box;
    margin: 0;
    padding: 0; 
}

:root {
    --green: #7DB46CFF;
    --light: #FFFFFF;
    --blue: #68B0AB;
    --gray: #E7EBE0;
    --lightgray: #F8FDF0;
}

.container {
    width: 80%;    
    margin: 0px auto;
    padding: 2%;
    
}

main {
    background-color: var(--gray);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

header {
    padding: 1%;
}

.navbar {
    background-color: var(--green);
    color: var(--light);
    border-radius: 8px;
    width: 100%;
}

ul {
    text-align: right;
    background-color: var(--green);    
    padding: 1%;
}

ul li {
    display: inline-flex;
    padding-right: 15px;
}

a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: var(--light);
}

.inputData {
    margin-bottom: 5%;
}

.btn {
    background-color: var(--blue);
    color: white;
    border: none;    
    padding: 2%;
    text-align: center;
    border-radius: 5px;
    font-size: medium;
    box-shadow: 2px 5px 8px gray;
    margin: 20px;
    cursor: pointer;
}

.btnComment {
    padding: 10px;

}

.a-text {
    color: var(--blue);
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.textBox {
    border-radius: 5px;
    border: none;
    box-shadow: 2px 5px 8px gray;
    font-size: 16px;
    padding: 7px;
    width: 100%;
}

.textContent {
    background-color: var(--lightgray);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 1%;
    border: none;
    width: 100%;
    font-size: 16px;
    padding: 5px;
}

.card-header {
    background-color: var(--blue);
    color: var(--light);
    padding: 1%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;    
}

.card-text {
    background-color: var(--gray);
    color: var(--blue);
    font-size: 18px;
    font-weight: bold;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 5%;
    border-right: dashed 3px var(--blue); 
    border-left: dashed 3px var(--blue); 
    border-bottom: dashed 3px var(--blue); 
    width: 100%; 
    margin-bottom: 1%;   
}

.header-post {
    background-color: var(--green);
    margin-bottom: 1%; 
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.author {
    color: var(--blue);
    font-style: italic;

}

.card-login {
    width: 100%;
}

.left {
    text-align: end;
}
.btnEdit {    
    width: 40%;
}

.newPost {
    text-align: center;
    background-color: var(--gray);
    padding: 3%;
}

.frm {
    width: 35%;
    margin: 3% 0 3% 0;
}